<div class="bar-top flex flex-row justify-content-between align-items-center">
    <div class="logo">
        <h1 class="title">Supersorteios</h1>
    </div>
    <div class="flex">
        <div routerLink="/RafflesComponent" *ngIf="showMenuItem" class="item mr-2 item-top">
            <a class="flex flex-row align-items-center">
                <i class="pi pi-ticket"></i>
                <span class="links_name">Sorteios</span>
            </a>
        </div>

        <div class="item mr-2 item-top">
            <a routerLink="/ParticipantComponent" class="flex flex-row align-items-center">
                <i class="pi pi-users"></i>
                <span class="links_name">Compradores</span>
            </a>
        </div>
        <div class="item mr-5" *ngIf="showMenuItem">
            <a class="flex flex-row align-items-center">
                <i class="pi pi-power-off"></i>
                <span class="links_name">Fechar Sessão</span>
            </a>
        </div>
    </div>
</div>
<div class="sidebar" *ngIf="showMenuItem">
    <div class="container-sidebar">
        <div class="item">
            <a routerLink="/RafflesComponent" class="flex flex-row align-items-center">
                <i class="pi pi-ticket"></i>
                <span class="links_name">Sorteios</span>
            </a>
        </div>

        <div class="item mt-3">
            <a routerLink="ParticipantComponent" class="flex flex-row align-items-center">
                <i class="pi pi-users"></i>
                <span class="links_name">Compradores</span>
            </a>
        </div>
    </div>
</div>