<div class="sidebar">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="">
        <i class="pi pi-ticket"></i>
        <span class="links_name">Sorteios</span>
      </a>
      <span class="tooltip">Sorteios</span>
    </li>
    <li class="nav-item">
      <a href="">
        <i class="pi pi-users"></i>
        <span class="links_name">Compradores</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="">
        <i class="pi pi-sign-in"></i>
        <span class="links_name">Fechar Sessão</span>
      </a>
    </li>
  </ul>
</div>