<div class="contenedor">
  <div class="card">
    <p-card>
      <section class="section-one">
        <div class="col">
          <div class="flex flex-row align-items-center">
            <h2>Rifa de moto</h2>
          </div>
          <div class="w-full image-select"></div>
        </div>
        <div class="col mt-6 ml-3">
          <div>
            <h4>Preço do bilhete:</h4>
            <p>{{ price | currency : "BRL" }}</p>
          </div>
          <div>
            <h4>Número de bilhetes:</h4>
            <p>{{ cant }}</p>
          </div>
          <div>
            <h4>Data do sorteio:</h4>
            <p>15/12/2022</p>
          </div>
          <div>
            <h4>Descrição:</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem odit
              nisi sed deleniti incidunt id! Dignissimos sit in illo veniam
              dolores repellat, eos accusantium tenetur, molestias est deserunt.
              Repellendus, maxime?
            </p>
          </div>
        </div>
      </section>
    </p-card>
  </div>
</div>

<div class="contenedor">
  <div class="card">
    <p-card>
      <section class="section-tickets">
        <ng-container *ngFor="let ticket of arrayTick">
          <div
            class="ticket flex flex-row align-items-center justify-content-center"
          >
            <p>{{ ticket }}</p>
          </div>
        </ng-container>
      </section>
      <p-paginator
        [rows]="50"
        [totalRecords]="tickets.length"
        [pageLinkSize]="2"
        (onPageChange)="paginate($event)"
      >
      </p-paginator>
    </p-card>
  </div>
</div>
