<div class="contenedor">
  <div class="card">
    <p-card>
      <section class="section-one">
        <div class="col">
          <div class="flex flex-row align-items-center">
            <h2>Rifa de moto</h2>
          </div>
          <div>
            <p-carousel
              styleClass="custom-carousel"
              [value]="images"
              [numVisible]="1"
              [numScroll]="1"
            >
              <ng-template let-image pTemplate="item">
                <img class="w-full image-select" [src]="image.src" />
              </ng-template>
            </p-carousel>
          </div>
        </div>
        <div class="col mt-6 ml-3">
          <div>
            <h4>Preço do bilhete:</h4>
            <p>{{ price | currency : "BRL" }}</p>
          </div>
          <div>
            <h4>Número de bilhetes:</h4>
            <p>{{ cant }}</p>
          </div>
          <div>
            <h4>Data do sorteio:</h4>
            <p>15/12/2022</p>
          </div>
          <div>
            <h4>Descrição:</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem odit
              nisi sed deleniti incidunt id! Dignissimos sit in illo veniam
              dolores repellat, eos accusantium tenetur, molestias est deserunt.
              Repellendus, maxime?
            </p>
          </div>
        </div>
      </section>
    </p-card>
  </div>
</div>

<div class="contenedor">
  <div class="card">
    <p-card>
      <div class="flex flex-row justify-content-between">
        <h2>Selecione seus bilhetes</h2>
        <div>
          <label for="dropOpt">Ver: </label>
          <p-dropdown
            name="dropOpt"
            [options]="['Todos', 'Disponível']"
            class="ml-2 mr-3"
          ></p-dropdown>
          <button pButton label="Compre agora"></button>
        </div>
      </div>
      <div>
        <div class="flex flex-row align-items-center">
          <h4>Custo total:</h4>
          <p class="ml-2">{{ priceTotal | currency : "BRL" }}</p>
        </div>

        <h4>Bilhetes selecionados:</h4>
        <p *ngIf="arraySelecteds.length == 0">Você ainda não selecionou nada</p>
        <div class="flex">
          <ng-container *ngFor="let ticketSelect of arraySelecteds">
            <div
              class="ticket-preview flex flex-row align-items-center justify-content-center mr-1"
              (click)="noSelect(ticketSelect)"
            >
              <p style="color: white">{{ ticketSelect }}</p>
            </div>
          </ng-container>
        </div>
      </div>
      <section class="section-tickets mt-5">
        <ng-container *ngFor="let ticket of arrayTick">
          <div
            class="ticket flex flex-row align-items-center justify-content-center"
            *ngIf="!findSelect(ticket)"
            (click)="select(ticket)"
          >
            <p style="color: white">{{ ticket }}</p>
          </div>
          <div
            class="ticket-select flex flex-row align-items-center justify-content-center"
            *ngIf="findSelect(ticket)"
            (click)="noSelect(ticket)"
          >
            <p style="color: white">{{ ticket }}</p>
          </div>
        </ng-container>
      </section>
      <p-paginator
        [rows]="50"
        [totalRecords]="tickets.length"
        [pageLinkSize]="2"
        (onPageChange)="paginate($event)"
      >
      </p-paginator>
    </p-card>
  </div>
</div>
