<div class="contenedor">
  <div>
    <div class="text-center title-section">
      <span>Selecione o torneio que deseja participar</span>
    </div>
    <div class="section-cards">
      <ng-container *ngFor="let raffle of raffles; index as i">
        <div *ngIf="i != 0" class="cards">
          <div class="cards-img">
            <div>
              <img
                [src]="'http://localhost:8000' + raffle.images[0].path"
                class="img"
              />
              <span class="grid-price"
                >Precio: {{ raffle.price | currency : "BRL" }}</span
              >
            </div>
            <div class="text-center position-card-content">
              <div class="uppercase text-lg font-semibold">
                <h4>{{ raffle.name }}</h4>
              </div>
              <div>
                <h4 class="uppercase font-semibold">Data do sorteio</h4>
                <p class="text-lg">{{ date(raffles[0].dateGame) }}</p>
              </div>
              <div>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Ver sorteio"
                  class="p-button-raised"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
