<div class="cont">
  <section class="steps">
    <div class="step">
      <span class="numero">1</span>
      <div class="panel">
        <div class="flex flex-row">
          <span class="text-panel-title">Escolha um sorteio.</span>
        </div>
        <div class="text-panel">
          É muito fácil de participar, basta começar escolhendo o sorteio
        </div>
      </div>
    </div>
    <div class="step">
      <span class="numero">2</span>
      <div class="panel">
        <div class="flex flex-row">
          <span class="text-panel-title">Selecione os números que deseja comprar.</span>
        </div>
        <div class="text-panel">
          Escolha todos os números que quiser quanto mais tiver mais opções tem para ganhar
        </div>
      </div>
    </div>
    <div class="step">
      <span class="numero">3</span>
      <div class="panel">
        <div class="flex flex-row">
          <span class="text-panel-title">Fácil de pagar.</span>
        </div>
        <div class="text-panel">
          A forma de pagamento é feita através de pix e após pagar você receberá o comprovante de participação em seu e-mail
        </div>
      </div>
    </div>
    <div class="step">
      <span class="numero">4</span>
      <div class="panel">
        <div class="flex flex-row">
          <span class="text-panel-title">Aguarde o sorteio.</span>
        </div>
        <div class="text-panel">
          Então espere pelo sorteio boa sorte!
        </div>
      </div>
    </div>
  </section>
</div>

<div class="contenedor">
  <div>
    <div class="title-section">
      <span>Selecione o torneio que deseja participar</span>
    </div>
    <div class="section-cards">
      <ng-container *ngFor="let raffle of raffles; index as i">
        <div *ngIf="i != 0" class="cards">
          <div class="cards-img">
            <div>
              <img
                [src]="'http://localhost:8000' + raffle.images[0].path"
                class="img"
              />
              <span class="grid-price"
                >Precio: {{ raffle.price | currency : "BRL" }}</span
              >
            </div>
            <div class="text-center position-card-content">
              <div class="uppercase text-lg font-semibold">
                <h4>{{ raffle.name }}</h4>
              </div>
              <div>
                <h4 class="uppercase font-semibold">Data do sorteio</h4>
                <p class="text-lg">{{ date(raffles[0].dateGame) }}</p>
              </div>
              <div>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Ver sorteio"
                  class="p-button-raised"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
