<div class="contenedor">
  <div class="card">
    <p-card>
      <section class="section-one">
        <div class="col">
          <div class="flex flex-row align-items-center">
            <h2>{{ raffles[0].name }}</h2>
          </div>
          <div class="content-img">
            <p-carousel
              styleClass="custom-carousel"
              [value]="raffles[0].images"
              [numVisible]="1"
              [numScroll]="1"
            >
              <ng-template let-image pTemplate="item">
                <img
                  class="image-select responsive center"
                  [src]="'http://localhost:8000' + image.path"
                />
              </ng-template>
            </p-carousel>
          </div>
        </div>
        <div class="col mt-6 ml-3">
          <div>
            <h4>Preço do bilhete:</h4>
            <p>{{ raffles[0].price | currency : "BRL" }}</p>
          </div>
          <div>
            <h4>Número de bilhetes:</h4>
            <p>{{ raffles[0].numTicket }}</p>
          </div>
          <div>
            <h4>Data do sorteio:</h4>
            <p>{{ date(raffles[0].dateGame) }}</p>
          </div>
          <div>
            <h4>Descrição:</h4>
            <p>{{ raffles[0].description }}</p>
          </div>
        </div>
      </section>
    </p-card>
  </div>
</div>

<ng-container *ngFor="let raffle of raffles; index as i">

    <div *ngIf="i != 0" style="width: 300px; height: 500px;">
        <img [src]="'http://localhost:8000' + raffle.images[0].path" style="width: 300px; height: 300px;">
        <h4>{{raffle.name}}</h4>
        <p>Precio: {{raffle.price}}</p>
    </div>
</ng-container>
