.section-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-section{
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.center {
  display: block;
  margin: auto;
}

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  padding: 3rem;
  align-items: center;
}

.image-select {
  display: block;
  border-radius: 20px;
  border: 1px solid rgb(243, 243, 243);
}

.section-cards {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  column-gap: 10px;
  row-gap: 15px;
  justify-items: center;
}

.cards{
  width: 400px;
  margin: 10px;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  border-radius: 18px;
  padding: 0px;
  cursor: pointer;
  transition: all 400ms ease;
  font-family: "Open Sans", sans-serif;
}


.cards-img .img {
  width: 100%;
  height: 250px;
  border-radius: 2rem;
  padding: 15px;
}

.cards:hover {
  transform: translateY(-3%);
  box-shadow: 10px 10px 40px rgba(12, 12, 12); 
}
.grid-price{
  position: relative;
  bottom: 210px;
  left: 265px;
  padding: 6px 6px 6px 8px;
  background-color: #000000;
  color: #ffffff;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.position-card-content {
  position: relative;
  margin: 0;
  bottom: 25px;
}

.text-style{
  text-transform: uppercase;
}


@media only screen and (max-width: 1000px) {
  .section-one {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .section-cards {
    grid-template-columns: repeat(2, 5fr);
  }  

  .col {
    width: 100%;
  }

  .card {
    padding: 0rem;
  }

  .image-select {
    min-height: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 630px) {
  .section-cards {
    grid-template-columns: repeat(1, 5fr);
  }
}

@media only screen and (max-width: 560px) {
  .content-img {
    width: 450px;
  }
}

